.competition-list {
	margin: 0 $sideMargin;
}

.competition {
	&-title {
		height: 40px;
		line-height: 40px;
		vertical-align: center;
		color: #333333;
		font-weight: bold;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-bottom-color: #cccccc;
		padding-left: 10px;
	}
}
